# dependencies
/node_modules
/.pnp
.pnp.js

# json files
package-lock.json

# css and js dist directory
public/css/dist/
public/js/dist/

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
