.silverBox-wrapper {
    &[data-theme="light"] {
        // silverBox overlay
        --silverBox-overlay-background: #d0d5ddac;
        // silverBox 
        --silverBox-background-color: white;
        --silverBox-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        --silverBox-border: 1px solid #fff;
        // header
        --silverBox-title-color: #000;
        --silverBox-text-color: #475467;
        // confirm button
        --silverBox-confirm-color: #fff;
        --silverBox-confirm-bg-color: #7f56d9;
        --silverBox-confirm-border-color: #7f56d9;
        --silverBox-confirm-hover-color: #a86ff9;
        // deny button
        --silverBox-deny-color: #fff;
        --silverBox-deny-bg-color: #d33;
        --silverBox-deny-border-color: #d33;
        --silverBox-deny-hover-color: #fa7070;
        // cancel button
        --silverBox-cancel-color: #475467;
        --silverBox-cancel-bg-color: #fff;
        --silverBox-cancel-border-color: #d0d5dd;
        --silverBox-cancel-hover-color: #d2d2d2;
        // inputs
        --silverBox-input-border-color: #d0d5dd;
        --silverBox-input-background: #fff;
        --silverBox-input-color: #000;
        --silverBox-input-placeHolder-color: #475467;
        --silverBox-label-color: #1d2939;
        --silverBox-hint-color: #101828;
        // footer
        --silverBox-hr-line-color: #bbbbbb;
        --silverBox-footer-color: #474747;
    }

    &[data-theme="dark"] {
        // silverBox overlay
        --silverBox-overlay-background: #191919c7;
        // silverBox 
        --silverBox-background-color: #1f2637;
        --silverBox-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        --silverBox-border: 1px solid #171E2E;
        // header
        --silverBox-title-color: #fff;
        --silverBox-text-color: #9fa3ad;
        // confirm button
        --silverBox-confirm-color: #fff;
        --silverBox-confirm-bg-color: #4c2b92;
        --silverBox-confirm-border-color: #4c2b92;
        --silverBox-confirm-hover-color: #5a30b3;
        // deny button
        --silverBox-deny-color: #fff;
        --silverBox-deny-bg-color: #9d0f0f;
        --silverBox-deny-border-color: #9d0f0f;
        --silverBox-deny-hover-color: #d33;
        // cancel button
        --silverBox-cancel-color: #fff;
        --silverBox-cancel-bg-color: #5f5f5f;
        --silverBox-cancel-border-color: #5f5f5f;
        --silverBox-cancel-hover-color: #838383;
        // inputs
        --silverBox-input-border-color: #39363f;
        --silverBox-input-background: #515864;
        --silverBox-input-color: #fff;
        --silverBox-input-placeHolder-color: #A1A4A9;
        --silverBox-label-color: #fff;
        --silverBox-hint-color: #fff;
        // footer 
        --silverBox-hr-line-color: #bbbbbb;
        --silverBox-footer-color: #A1A4A9;
    }

    // font sizes
    // header 
    --silverBox-header-items-margin: 25px 0;
    // title
    --silverBox-title-font-size: 24px;
    --silverBox-title-font-weight: 600;
    // text
    --silverBox-text-font-size: 18px;
    --silverBox-text-font-weight: 600;
    // buttons
    --silverBox-button-font-size: 16px;
    --silverBox-button-font-weight: 600;
    --silverBox-button-padding: 7px 20px;

    // border radius
    --silverBox-card-border-radius: 8px;
    --silverBox-button-border-radius: 8px;
    --silverBox-input-border-radius: 8px;
    // inputs
    --silverBox-input-padding: 10px;
    // silver box
    --silverBox-padding: 20px;
    --silverBox-border-radius: 20px;

    // inputs
    --silverBox-inside-input-gap:7px;
    --silverBox-input-parent-justify-content: space-around;
    --silverBox-input-parent-align-items: center;
    --silverBox-input-parent-gap:10px 0;
    --silverBox-hint-fontSize: 14px;
    --silverBox-input-fontSize: 14px;
    --silverBox-placeHolder-fontSize: 12px;


    // icons
    --silverBox-custom-icon-width:100px;
    --silverBox-custom-icon-border-radius:10px;
    --silverBox-button-icon-border-radius:10px;
}