footer {
    a {
        color: var(--silverBox-footer-color);
    }

    hr {
        margin: 20px 0 10px;
        background-color: var(--silverBox-hr-line-color);
        border: none;
        height: 1px;
    }

}