.silverBox-close-button {
    cursor: pointer;
    grid-column-start: var(--silverBox-close-button-grid-column-start);
}

.silverBox-icon-wrapper {
    display: grid;
    grid-template-columns: var(--silverBox-icon-wrapper-grid-template-columns);
    align-items: var(--silverBox-icon-wrapper-align-items);

    .silverBox-close-button {
        justify-self: var(--silverBox-close-button-justify-self);
        align-self: var(--silverBox-close-button-align-self);
    }
}

.silverBox-header-wrapper {
    &>* {
        margin-top: var(--silverBox-items-top-margin);
    }

    .silverBox-header-title {
        color: var(--silverBox-title-color);
        font-size: var(--silverBox-title-font-size);
        font-weight: var(--silverBox-title-font-weight);
    }

    .silverBox-header-description {
        color: var(--silverBox-text-color);
        font-size: var(--silverBox-text-font-size);
        font-weight: var(--silverBox-text-font-weight);
    }
}