.silverBox-close-button {
	cursor: pointer;
	grid-column-start: var(--silverBox-close-button-grid-column-start);
}

.silverBox-icon-wrapper {
	display: grid;
	grid-template-columns: var(--silverBox-icon-wrapper-grid-template-columns);
	align-items: var(--silverBox-icon-wrapper-align-items);

	.silverBox-close-button {
		justify-self: var(--silverBox-close-button-justify-self);
		align-self: var(--silverBox-close-button-align-self);
	}
}

.silverBox-header-wrapper {
	& > * {
		margin-top: var(--silverBox-items-top-margin);
	}

	.silverBox-header-title {
		color: var(--silverBox-title-color);
		font-size: var(--silverBox-title-font-size);
		font-weight: var(--silverBox-title-font-weight);
		gap: var(--silverBox-title-gap);

		&.silverBox-title-has-icon {
			display: flex;
			align-items: center;

			&.silverBox-title-centred {
				justify-content: var(--silverBox-title-justifyContent);
			}
		}
	}
}
