/* centered icon */
.silverBox-icon-wrapper,
.silverBox-icon-wrapper > * {
    &.silverBox-centered-icon {
        justify-self: var(--silverBox-centered-icon-justify-self);
        grid-column-start: var(--silverBox-centered-icon-grid-column-start);
    }
}
.silverBox-userIcon-wrapper {
    display: flex;
}

.silverBox-custom-icon {
    width: var(--silverBox-custom-icon-width);
    max-width: var(--silverBox-custom-icon-max-width);
    height: var(--silverBox-custom-icon-height);
    max-height: var(--silverBox-custom-icon-max-height);
    border-radius: var(--silverBox-custom-icon-border-radius);
}

/* tick */
.silverBox-tick-mark {
    position: relative;
    width: var(--silverBox-tick-mark-size);
    height: var(--silverBox-tick-mark-size);
    border: var(--silverBox-tick-circle-border);
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    animation: 1s appear;

    .inside {
        position: absolute;
        width: var(--silverBox-tick-right-size);
        height: var(--silverBox-tick-left-size);
        border-left: var(--silverBox-tick-inside-borders);
        border-bottom: var(--silverBox-tick-inside-borders);
        transform: rotate(-45deg);
        margin-bottom: 15%;
    }
}

/* info */
.silverBox-info {
    border: var(--silverBox-info-circle-border);
    width: var(--silverBox-info-size);
    height: var(--silverBox-info-size);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--silverBox-info-icon-inside-size);
    font-weight: var(--silverBox-info-icon-width);
    color: var(--silverBox-info-color);
    animation: rotate 0.25s;
}

/* question */
.silverBox-question {
    border: var(--silverBox-question-circle-border);
    width: var(--silverBox-question-size);
    height: var(--silverBox-question-size);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--silverBox-question-icon-inside-size);
    font-weight: var(--silverBox-question-icon-width);
    color: var(--silverBox-question-color);
    animation: rotate 0.25s;
}

/* warning */
.silverBox-warning {
    border: var(--silverBox-warning-circle-border);
    width: var(--silverBox-warning-size);
    height: var(--silverBox-warning-size);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--silverBox-warning-icon-inside-size);
    font-weight: var(--silverBox-warning-icon-width);
    color: var(--silverBox-warning-color);
    animation: warning 0.5s;
}

/* x mark */
.silverBox-error {
    width: var(--silverBox-error-size);
    height: var(--silverBox-error-size);
    border-radius: 50%;
    border: var(--silverBox-error-circle-border);
    border-color: #e62e05;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: error 0.25s;

    .x {
        width: var(--silverBox-error-icon-inside-size);
        height: var(--silverBox-error-icon-width);
        position: relative;

        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            width: var(--silverBox-error-icon-inside-size);
            height: var(--silverBox-error-icon-width);
            background-color: #e62e05;
            border-radius: 10px;
        }

        &::before {
            transform: rotate(45deg);
        }

        &::after {
            transform: rotate(-45deg);
        }
    }
}

// animations
@keyframes rotate {
    0% {
        transform: scale(1) rotate(0);
    }

    25% {
        transform: rotate(25deg);
    }

    50% {
        transform: scale(1.1) rotate(-25deg);
    }

    75% {
        transform: rotate(25deg);
    }

    100% {
        transform: scale(1) rotate(0deg);
    }
}

// error
@keyframes error {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(5px) scale(1.05);
    }

    50% {
        transform: translateX(-5px) scale(1.1);
    }

    75% {
        transform: translateX(5px);
    }

    100% {
        transform: translateX(0);
    }
}

// appear
@keyframes appear {
    0% {
        transform: scale(1) rotate(0);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1) rotate(360deg);
    }
}

// warning
@keyframes warning {
    0% {
        opacity: 1;
        transform: scale(1);
    }

    25% {
        opacity: 0;
        transform: scale(0.6);
    }

    50% {
        opacity: 1;
        transform: scale(1);
    }

    75% {
        opacity: 0;
        transform: scale(0.6);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}
