.silverBox-input {
    outline: none;
    border: 1px solid var(--silverBox-input-border-color);
    padding: var(--silverBox-input-padding);
    border-radius: var(--silverBox-input-border-radius);
    min-width: 250px;
}