 .silverBox-input {
     display: flex;
     flex-direction: column;
     gap: 5px 0;
     margin: 10px 0 10px 0;
     text-align: start;


     &>input,
     &>textarea {
         outline: none;
         border: 1px solid var(--silverBox-input-border-color);
         color: var(--silverBox-input-color);
         padding: var(--silverBox-input-padding);
         border-radius: var(--silverBox-input-border-radius);
         resize: none;
     }

     &::placeholder {
         color: var(--silverBox-input-placeHolder-color);
     }

     label {
         color: var(--silverBox-label-color);
     }

     .silverBox-input-hint {
         font-size: var(--silverBox-hint-fontSize);
         color: var(--silverBox-hint-color);
     }


 }