// ======================
// modern css reset
// https://piccalil.li/blog/a-modern-css-reset/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: inherit;
  font: inherit;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a {
  text-decoration: none;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}
// modern css reset
// ======================

// ======================
// custom reset
button {
  border: none;
}

button,
select {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

input {
  outline: none;
}

::placeholder {
  opacity: 0.5;
}

// disable "show password" for MS Edge in password inputs
input::-ms-reveal,
input::-ms-clear {
  display: none;
}

/* remove up and down arrows in number inputs for Chrome, Safari, Egde, Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* remove up and down arrows in number inputs for Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
// custom reset
// ======================
