@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap");
@import "./modules/reset";
@import "./silverBox.scss";

// default font size for desktop
:root {
    font-size: 16px;
}

// default font size for mobile
@media only screen and (max-width: 900px) {
    :root {
        font-size: 14px;
    }
}

:root {
    --hamburger-bar-width: 20px;
    --hamburger-bar-height: 3px;
    --hamburger-gap: 3px;
    --hamburger-height: calc(
        (var(--hamburger-bar-height) * 3) + (var(--hamburger-gap) * 2)
    );
}

html {
    scroll-behavior: smooth;

    &[data-theme="light"] {
        // white and black
        --white-in-white: #fff;
        --black-in-white: #000;

        // gray
        --gray-100: #efefef;
        --gray-300: #d9d9d9;
        --gray-400: #c0c0c0;
        --gray-500: #717171;
        --gray-700: #353535;

        // theme
        --primary-700: #284b63;
        --secondary-700: #3c6e71;

        // blue
        --blue-100: #caf0f8;
        --blue-300: #90e0ef;
        --blue-500: #00b4d8;
        --blue-700: #0077b6;
        --blue-900: #03045e;
    }

    &[data-theme="dark"] {
        // white and black
        --white-in-white: #000;
        --black-in-white: #fff;

        // gray
        --gray-100: #efefef;
        --gray-300: #d9d9d9;
        --gray-400: #c0c0c0;
        --gray-500: #454545;
        --gray-700: #353535;

        // theme
        --primary-700: #284b63;
        --secondary-700: #3c6e71;

        // blue
        --blue-100: #caf0f8;
        --blue-300: #90e0ef;
        --blue-500: #00b4d8;
        --blue-700: #0077b6;
        --blue-900: #03045e;
    }
}

// general text color
body {
    color: var(--gray-700);
    font-family: "Source Sans Pro", sans-serif;
}

@media only screen and (max-width: 900px) {
    // hide horizontal overflow
    body {
        overflow-x: hidden;
    }
}

button {
    padding: 10px 20px;
    border-radius: 6px;
    color: white;
    width: 50%;
    background-color: var(--primary-700);
    margin-top: 20px;
    transition: 0.1s;

    &:hover {
        background-color: var(--secondary-700);
    }
}

code {
    border-radius: 4px;
    text-align: left;
}

.container {
    margin: 0 auto;
    width: 90vw;
    max-width: 950px;
    padding: 10px;

    aside.sidebar {
        transform: translateX(-85%);
        position: fixed;
        left: 10px;
        display: flex;
        column-gap: 10px;
        transition: all 500ms;
        max-width: max-content;

        nav {
            ul {
                transition: all 500ms ease-in-out;

                a {
                    pointer-events: none;

                    li {
                        padding-right: 60px;
                        transition: all 500ms ease-in-out;
                    }

                    //  the last navBar item
                    &[href="#documentationSection"] {
                        > li {
                            position: relative;

                            &::after {
                                position: absolute;
                                content: "";
                                width: 5px;
                                height: 5px;
                                top: calc(50% - 1px);
                                right: 45px;
                                border-top: 1px solid;
                                border-right: 1px solid;
                                transform: rotate(45deg);
                                transition: 0.2s;
                            }

                            &:hover {
                                &::after {
                                    transform: rotate(135deg);
                                }

                                ul {
                                    visibility: visible;
                                    opacity: 1;
                                }
                            }

                            // the level 2 menu
                            ul {
                                display: flex;
                                // x y
                                overflow: hidden scroll;
                                flex-wrap: wrap;
                                height: 500px;
                                top: 100%;
                                left: -3px;
                                width: 101.5%;
                                position: absolute;
                                background-color: #fff;
                                transition: 0.2s;
                                visibility: hidden;
                                opacity: 0;

                                li {
                                    border-left: 3px solid var(--white-in-white);

                                    &:hover {
                                        border-left: 3px solid
                                            var(--primary-700);
                                    }

                                    a {
                                        font-size: 14px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        &.show-sidebar {
            background-color: var(--white-in-white);
            transform: translateX(0);

            nav {
                ul {
                    box-shadow: 0 0 5px -1px #00000033;

                    a {
                        pointer-events: initial;

                        li {
                            padding: 12px 20px;
                            padding-right: 60px;
                            border-left: 3px solid white;

                            &:hover {
                                border-left: 3px solid var(--primary-700);
                                color: var(--primary-700);
                            }
                        }

                        &.navigationTitle {
                            pointer-events: none;
                            font-size: 14px;

                            li {
                                border-left: none;
                                border-bottom: 1px solid var(--gray-100);
                                background-color: white;
                                color: var(--gray-700);
                            }
                        }
                    }
                }
            }

            .hamburger-menu {
                &::before,
                &::after,
                > input {
                    background-color: var(--gray-400);
                }
            }
        }

        .hamburger-menu {
            cursor: pointer;
            display: flex;
            flex-direction: column;
            gap: var(--hamburger-gap);
            width: max-content;
            height: max-content;
            position: absolute;
            top: 14px;
            right: 7px;

            &::before,
            &::after,
            > input {
                content: "";
                width: var(--hamburger-bar-width);
                height: var(--hamburger-bar-height);
                background-color: var(--gray-500);
                border-radius: 900px;
                transform-origin: left center;
                transition: all 500ms ease-in-out;
            }

            > input {
                appearance: none;
                -webkit-appearance: none;
                padding: 0;
                margin: 0;
                outline: none;
                pointer-events: none;

                &:checked {
                    opacity: 0;
                    width: 0;
                }
            }

            &.show-x {
                --x-width: calc(var(--hamburger-height) * 1.414421356237);

                &::before {
                    transform: rotate(45deg);
                    width: var(--x-width);
                    translate: 0 calc(var(--hamburger-bar-height) / -2);
                }

                &::after {
                    transform: rotate(315deg);
                    width: var(--x-width);
                    translate: 0 calc(var(--hamburger-bar-height) / 2);
                }
            }
        }
    }

    main {
        .sectionHeader {
            text-align: center;
            font-size: 20px;
            color: var(--gray-500);
            margin-bottom: 20px;
        }

        section {
            margin-bottom: 40px;
        }

        #heroSection {
            h2.tagline {
                text-align: center;
                font-size: 30px;
                color: #284b63;
                font-weight: 600;
                margin-bottom: 30px;
            }

            div.whySilverBox {
                display: flex;
                align-items: start;
                justify-content: space-between;

                div.introduction {
                    text-align: justify;
                    max-width: 45%;
                    font-size: 20px;
                    font-weight: 300;

                    #silverBox-name-tag {
                        color: #284b63;
                        font-weight: bold;
                    }
                }

                img {
                    width: 45%;
                }
            }
        }

        #exampleSection {
            row-gap: 20px;
            display: grid;

            .example {
                display: grid;
                grid-template-columns: 2fr 3fr;
                gap: 0 20px;

                .exampleColumn {
                    &:first-of-type {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                    }
                }
            }
        }

        #documentationSection {
            .tableWrapper {
                text-align: start;
                row-gap: 10px;
                border: 1px solid var(--gray-300);
                border-radius: 6px;

                .tableRowHeader,
                .tableRow {
                    display: grid;
                    grid-template-columns: 2fr 1fr 4fr;
                    column-gap: 10px;

                    &.document-has-config {
                        // grid-template-columns: 1fr 1fr;
                        // grid-template-rows: 2fr;
                    }

                    .tableColumn {
                        padding: 20px;
                        overflow-x: hidden;

                        &.document-argument {
                            font-weight: 700;
                            font-style: italic;
                            color: #3c6e71;
                            font-size: 18px;
                        }
                    }
                    .tableHeaderColumn {
                        color: var(--gray-500) !important;
                    }
                }

                .tableRowHeader {
                    border-bottom: 1px solid var(--gray-300);
                }
            }
        }

        #theTeamSection {
            .teamMembers {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 20px;

                .teamMember {
                    display: flex;
                    align-items: center;
                    column-gap: 10px;
                    border-radius: 6px;
                    padding: 10px;
                    transition: all 500ms ease-in-out;

                    .memberImage {
                        border-radius: 50%;
                        width: 60px;
                        height: 60px;
                    }

                    .memberInfo {
                        padding: 10px;

                        .memberName {
                            color: var(--primary-700);
                            transition: all 500ms ease-in-out;
                        }

                        .memberPosition {
                            font-size: 13px;
                        }
                    }

                    &:hover {
                        background-color: var(--primary-700);
                        color: white;

                        .memberInfo {
                            .memberName {
                                color: white;
                            }
                        }
                    }
                }
            }
        }
    }
}
