@import "./components/cssConfig";
@import "./components/input";
@import "./components/buttons";
@import "./components/header";
@import "./components/icons";
@import "./components/loadingAnimation";

body {
    background-color: white;
    color: var(--success-700);
}

.silverBox-wrapper {

    // silver box modal
    &.silverBox-overlay {
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        backdrop-filter: blur(2px);
        -webkit-backdrop-filter: blur(2px);
        background-color: var(--silverBox-overlay-background);
    }

    .silverBox {
        box-sizing: border-box;
        width: 90vw;
        min-width: 400px;
        max-width: min-content;
        display: flex;
        flex-direction: column;
        gap: 10px 0;
        border: var(--silverBox-border);
        border-radius: var(--silverBox-border-radius);
        padding: var(--silverBox-padding);
        box-shadow: var(--silverBox-box-shadow);
        background-color: var(--silverBox-background-color);
    }

    @media only screen and (max-width: 800px) {
        .silverBox {
            max-width: 90vw;
            min-width: unset;
        }
    }

    &.silverBox-top-right,
    &.silverBox-top-center,
    &.silverBox-top-left,
    &.silverBox-bottom-right,
    &.silverBox-bottom-center,
    &.silverBox-bottom-left {
        position: fixed;
        width: -moz-fit-content;
        width: fit-content;
        height: fit-content;
    }

    &.silverBox-top-right,
    &.silverBox-top-center,
    &.silverBox-top-left {
        top: 10px;
    }

    &.silverBox-top-right {
        right: 10px;
    }

    &.silverBox-top-center {
        transform: translateX(50%);
        right: 50%;
    }

    &.silverBox-top-left {
        left: 10px;
    }

    // bottom
    &.silverBox-bottom-right,
    &.silverBox-bottom-left,
    &.silverBox-bottom-center {
        bottom: 10px;
    }

    &.silverBox-bottom-right {
        right: 10px;
    }

    &.silverBox-bottom-center {
        transform: translateX(50%);
        right: 50%;
    }

    &.silverBox-bottom-left {
        left: 10px;
    }
}