@font-face {
    font-family: sp;
    font-weight: 100;
    src: url("/src/fonts/Source_Sans_Pro/SourceSansPro-Light.ttf") format("truetype");
}

@font-face {
    font-family: sp;
    font-weight: 200;
    src: url("/src/fonts/Source_Sans_Pro/SourceSansPro-Light.ttf") format("truetype");
}

@font-face {
    font-family: sp;
    font-weight: 300;
    src: url("/src/fonts/Source_Sans_Pro/SourceSansPro-Light.ttf") format("truetype");
}

@font-face {
    font-family: sp;
    font-weight: 400;
    src: url("/src/fonts/Source_Sans_Pro/SourceSansPro-Light.ttf") format("truetype");
}

@font-face {
    font-family: sp;
    font-weight: 500;
    src: url("/src/fonts/Source_Sans_Pro/SourceSansPro-Bold.ttf") format("truetype");
}

@font-face {
    font-family: sp;
    font-weight: 600;
    src: url("/src/fonts/Source_Sans_Pro/SourceSansPro-Light.ttf") format("truetype");
}

@font-face {
    font-family: sp;
    font-weight: 700;
    src: url("/src/fonts/Source_Sans_Pro/SourceSansPro-Light.ttf") format("truetype");
}

@font-face {
    font-family: sp;
    font-weight: 800;
    src: url("/src/fonts/Source_Sans_Pro/SourceSansPro-Light.ttf") format("truetype");
}

@font-face {
    font-family: sp;
    font-weight: 900;
    src: url("/src/fonts/Source_Sans_Pro/SourceSansPro-Light.ttf") format("truetype");
}